---
import { getCollection, getEntryBySlug } from "astro:content";
import PostLayout from "src/layouts/post.astro";
import PostPreviewList from "src/components/PostPreviewList.astro";

export async function getStaticPaths() {
  const posts = await getCollection("project");
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const entry = await getEntryBySlug("project", slug);

const allPosts = await getCollection("blog");

const posts = allPosts.filter((post) => post.data.project === slug);

const { Content } = await entry.render();
---

<PostLayout content={entry?.data}>
  <Content />

  <h2 class="text-2xl font-bold">Posts</h2>
  <PostPreviewList posts={posts} />
</PostLayout>
